In [107]:
import requests
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup

In [16]:
programs = ["Informatique"]
years = ["2007-2008", "2008-2009", "2009-2010", "2010-2011", "2011-2012", "2012-2013",
         "2013-2014", "2014-2015", "2015-2016", "2016-2017"]
bachelor_semesters = ["Bachelor semestre 1", "Bachelor semestre 2", "Bachelor semestre 3", "Bachelor semestre 4",
                     "Bachelor semestre 5", "Bachelor semestre 6"]
master_semesters = ["Master semestre 1", "Master semestre 2", "Master semestre 3", "Projet Master automne", 
                   "Projet Master printemps"]

In [17]:
report_model_param = "133685247"
base_url = "http://isa.epfl.ch/imoniteur_ISAP/!GEDPUBLICREPORTS"
r = requests.get(base_url+".filter", params = {"ww_i_reportModel": report_model_param})
form = BeautifulSoup(r.text, 'html.parser')
b_list_param = form.find_all("input", attrs={"name":"ww_b_list"})[0]['value']
report_model_xsl_param = form.find_all("input", attrs={"name":"ww_i_reportModelXsl"})[0]['value']

In [18]:
program_values = {}
for program in programs:
    program_values[program] = form.find_all("option", string=program)[0]['value']

In [19]:
year_values = {}
for year in years:
    year_values[year] = form.find_all("option", string=year)[0]['value']

In [20]:
bachelor_semester_values = {}
for semester in bachelor_semesters:
    bachelor_semester_values[semester] = form.find_all("option", string=semester)[0]['value']

In [21]:
master_semester_values = {}
for semester in master_semesters:
    master_semester_values[semester] = form.find_all("option", string=semester)[0]['value']

In [22]:
def get_dataset(prog_val, y_val, sem_val):
    params = {"ww_i_reportModel": report_model_param, 
              "ww_b_list": b_list_param, 
              "ww_i_reportModelXsl": report_model_xsl_param, 
              "ww_x_UNITE_ACAD": prog_val,
              "ww_x_PERIODE_ACAD": y_val,
              "ww_x_PERIODE_PEDAGO": sem_val}
    r = requests.get(base_url+".filter", params = params)
    set_page = BeautifulSoup(r.text, 'html.parser')
    gps_string = set_page.find_all("a", attrs={"class": "ww_x_GPS"})[1]["onclick"]
    gps_value = ''.join(list(filter(str.isdigit, gps_string)))
    params = {"ww_i_reportModel": report_model_param, 
              "ww_i_reportModelXsl": report_model_xsl_param,
              "ww_x_GPS": gps_value}
    r = requests.get(base_url+".html", params = params)
    res=pd.read_html(r.text, skiprows = [0], header = 0, index_col = "Nom Prénom")
    if len(res):
        return res[0].drop("Unnamed: 11", axis=1)
    else:
        return pd.DataFrame(columns = ['Civilité', 'Orientation Bachelor', 'Orientation Master', 
                                       'Spécialisation', 'Filière opt.', 'Mineur', 'Statut', 'Type Echange', 
                                       'Ecole Echange', 'No Sciper'])

In [23]:
bachelor_datasets = {}
for year in years:
    bachelor_datasets[year] = {}
for year in years:
    for semester in bachelor_semesters:
        print(year, semester)
        bachelor_datasets[year][semester] = get_dataset(program_values[programs[0]], 
                                                        year_values[year], bachelor_semester_values[semester])

2007-2008 Bachelor semestre 1
2007-2008 Bachelor semestre 2
2007-2008 Bachelor semestre 3
2007-2008 Bachelor semestre 4
2007-2008 Bachelor semestre 5
2007-2008 Bachelor semestre 6
2008-2009 Bachelor semestre 1
2008-2009 Bachelor semestre 2
2008-2009 Bachelor semestre 3
2008-2009 Bachelor semestre 4
2008-2009 Bachelor semestre 5
2008-2009 Bachelor semestre 6
2009-2010 Bachelor semestre 1
2009-2010 Bachelor semestre 2
2009-2010 Bachelor semestre 3
2009-2010 Bachelor semestre 4
2009-2010 Bachelor semestre 5
2009-2010 Bachelor semestre 6
2010-2011 Bachelor semestre 1
2010-2011 Bachelor semestre 2
2010-2011 Bachelor semestre 3
2010-2011 Bachelor semestre 4
2010-2011 Bachelor semestre 5
2010-2011 Bachelor semestre 6
2011-2012 Bachelor semestre 1
2011-2012 Bachelor semestre 2
2011-2012 Bachelor semestre 3
2011-2012 Bachelor semestre 4
2011-2012 Bachelor semestre 5
2011-2012 Bachelor semestre 6
2012-2013 Bachelor semestre 1
2012-2013 Bachelor semestre 2
2012-2013 Bachelor semestre 3
2012-2013 Bachelor semestre 4
2012-2013 Bachelor semestre 5
2012-2013 Bachelor semestre 6
2013-2014 Bachelor semestre 1
2013-2014 Bachelor semestre 2
2013-2014 Bachelor semestre 3
2013-2014 Bachelor semestre 4
2013-2014 Bachelor semestre 5
2013-2014 Bachelor semestre 6
2014-2015 Bachelor semestre 1
2014-2015 Bachelor semestre 2
2014-2015 Bachelor semestre 3
2014-2015 Bachelor semestre 4
2014-2015 Bachelor semestre 5
2014-2015 Bachelor semestre 6
2015-2016 Bachelor semestre 1
2015-2016 Bachelor semestre 2
2015-2016 Bachelor semestre 3
2015-2016 Bachelor semestre 4
2015-2016 Bachelor semestre 5
2015-2016 Bachelor semestre 6
2016-2017 Bachelor semestre 1
2016-2017 Bachelor semestre 2
2016-2017 Bachelor semestre 3
2016-2017 Bachelor semestre 4
2016-2017 Bachelor semestre 5
2016-2017 Bachelor semestre 6

In [24]:
for year in years:
    for semester in bachelor_semesters:
        print(year, semester, bachelor_datasets[year][semester].shape)

2007-2008 Bachelor semestre 1 (90, 10)
2007-2008 Bachelor semestre 2 (72, 10)
2007-2008 Bachelor semestre 3 (50, 10)
2007-2008 Bachelor semestre 4 (48, 10)
2007-2008 Bachelor semestre 5 (48, 10)
2007-2008 Bachelor semestre 6 (38, 10)
2008-2009 Bachelor semestre 1 (96, 10)
2008-2009 Bachelor semestre 2 (74, 10)
2008-2009 Bachelor semestre 3 (53, 10)
2008-2009 Bachelor semestre 4 (51, 10)
2008-2009 Bachelor semestre 5 (57, 10)
2008-2009 Bachelor semestre 6 (51, 10)
2009-2010 Bachelor semestre 1 (117, 10)
2009-2010 Bachelor semestre 2 (101, 10)
2009-2010 Bachelor semestre 3 (54, 10)
2009-2010 Bachelor semestre 4 (52, 10)
2009-2010 Bachelor semestre 5 (75, 10)
2009-2010 Bachelor semestre 6 (60, 10)
2010-2011 Bachelor semestre 1 (153, 10)
2010-2011 Bachelor semestre 2 (125, 10)
2010-2011 Bachelor semestre 3 (51, 10)
2010-2011 Bachelor semestre 4 (51, 10)
2010-2011 Bachelor semestre 5 (62, 10)
2010-2011 Bachelor semestre 6 (52, 10)
2011-2012 Bachelor semestre 1 (166, 10)
2011-2012 Bachelor semestre 2 (125, 10)
2011-2012 Bachelor semestre 3 (77, 10)
2011-2012 Bachelor semestre 4 (75, 10)
2011-2012 Bachelor semestre 5 (63, 10)
2011-2012 Bachelor semestre 6 (52, 10)
2012-2013 Bachelor semestre 1 (198, 10)
2012-2013 Bachelor semestre 2 (170, 10)
2012-2013 Bachelor semestre 3 (75, 10)
2012-2013 Bachelor semestre 4 (70, 10)
2012-2013 Bachelor semestre 5 (96, 10)
2012-2013 Bachelor semestre 6 (81, 10)
2013-2014 Bachelor semestre 1 (206, 10)
2013-2014 Bachelor semestre 2 (157, 10)
2013-2014 Bachelor semestre 3 (114, 10)
2013-2014 Bachelor semestre 4 (111, 10)
2013-2014 Bachelor semestre 5 (102, 10)
2013-2014 Bachelor semestre 6 (86, 10)
2014-2015 Bachelor semestre 1 (242, 10)
2014-2015 Bachelor semestre 2 (164, 10)
2014-2015 Bachelor semestre 3 (81, 10)
2014-2015 Bachelor semestre 4 (81, 10)
2014-2015 Bachelor semestre 5 (140, 10)
2014-2015 Bachelor semestre 6 (116, 10)
2015-2016 Bachelor semestre 1 (216, 10)
2015-2016 Bachelor semestre 2 (171, 10)
2015-2016 Bachelor semestre 3 (92, 10)
2015-2016 Bachelor semestre 4 (89, 10)
2015-2016 Bachelor semestre 5 (128, 10)
2015-2016 Bachelor semestre 6 (104, 10)
2016-2017 Bachelor semestre 1 (235, 10)
2016-2017 Bachelor semestre 2 (1, 10)
2016-2017 Bachelor semestre 3 (83, 10)
2016-2017 Bachelor semestre 4 (2, 10)
2016-2017 Bachelor semestre 5 (120, 10)
2016-2017 Bachelor semestre 6 (24, 10)

In [25]:
master_datasets = {}
for year in years:
    master_datasets[year] = {}
for year in years:
    for semester in master_semesters:
        print(year, semester)
        master_datasets[year][semester] = get_dataset(program_values[programs[0]], 
                                                        year_values[year], master_semester_values[semester])

2007-2008 Master semestre 1
2007-2008 Master semestre 2
2007-2008 Master semestre 3
2007-2008 Projet Master automne
2007-2008 Projet Master printemps
2008-2009 Master semestre 1
2008-2009 Master semestre 2
2008-2009 Master semestre 3
2008-2009 Projet Master automne
2008-2009 Projet Master printemps
2009-2010 Master semestre 1
2009-2010 Master semestre 2
2009-2010 Master semestre 3
2009-2010 Projet Master automne
2009-2010 Projet Master printemps
2010-2011 Master semestre 1
2010-2011 Master semestre 2
2010-2011 Master semestre 3
2010-2011 Projet Master automne
2010-2011 Projet Master printemps
2011-2012 Master semestre 1
2011-2012 Master semestre 2
2011-2012 Master semestre 3
2011-2012 Projet Master automne
2011-2012 Projet Master printemps
2012-2013 Master semestre 1
2012-2013 Master semestre 2
2012-2013 Master semestre 3
2012-2013 Projet Master automne
2012-2013 Projet Master printemps
2013-2014 Master semestre 1
2013-2014 Master semestre 2
2013-2014 Master semestre 3
2013-2014 Projet Master automne
2013-2014 Projet Master printemps
2014-2015 Master semestre 1
2014-2015 Master semestre 2
2014-2015 Master semestre 3
2014-2015 Projet Master automne
2014-2015 Projet Master printemps
2015-2016 Master semestre 1
2015-2016 Master semestre 2
2015-2016 Master semestre 3
2015-2016 Projet Master automne
2015-2016 Projet Master printemps
2016-2017 Master semestre 1
2016-2017 Master semestre 2
2016-2017 Master semestre 3
2016-2017 Projet Master automne
2016-2017 Projet Master printemps

In [26]:
for year in years:
    for semester in master_semesters:
        print(year, semester, master_datasets[year][semester].shape)

2007-2008 Master semestre 1 (71, 10)
2007-2008 Master semestre 2 (87, 10)
2007-2008 Master semestre 3 (65, 10)
2007-2008 Projet Master automne (1, 10)
2007-2008 Projet Master printemps (6, 10)
2008-2009 Master semestre 1 (60, 10)
2008-2009 Master semestre 2 (64, 10)
2008-2009 Master semestre 3 (48, 10)
2008-2009 Projet Master automne (4, 10)
2008-2009 Projet Master printemps (6, 10)
2009-2010 Master semestre 1 (52, 10)
2009-2010 Master semestre 2 (62, 10)
2009-2010 Master semestre 3 (34, 10)
2009-2010 Projet Master automne (3, 10)
2009-2010 Projet Master printemps (8, 10)
2010-2011 Master semestre 1 (96, 10)
2010-2011 Master semestre 2 (109, 10)
2010-2011 Master semestre 3 (40, 10)
2010-2011 Projet Master automne (3, 10)
2010-2011 Projet Master printemps (7, 10)
2011-2012 Master semestre 1 (102, 10)
2011-2012 Master semestre 2 (123, 10)
2011-2012 Master semestre 3 (67, 10)
2011-2012 Projet Master automne (9, 10)
2011-2012 Projet Master printemps (13, 10)
2012-2013 Master semestre 1 (88, 10)
2012-2013 Master semestre 2 (130, 10)
2012-2013 Master semestre 3 (87, 10)
2012-2013 Projet Master automne (2, 10)
2012-2013 Projet Master printemps (1, 10)
2013-2014 Master semestre 1 (104, 10)
2013-2014 Master semestre 2 (138, 10)
2013-2014 Master semestre 3 (75, 10)
2013-2014 Projet Master automne (3, 10)
2013-2014 Projet Master printemps (1, 10)
2014-2015 Master semestre 1 (104, 10)
2014-2015 Master semestre 2 (151, 10)
2014-2015 Master semestre 3 (81, 10)
2014-2015 Projet Master automne (1, 10)
2014-2015 Projet Master printemps (0, 10)
2015-2016 Master semestre 1 (132, 10)
2015-2016 Master semestre 2 (196, 10)
2015-2016 Master semestre 3 (92, 10)
2015-2016 Projet Master automne (2, 10)
2015-2016 Projet Master printemps (0, 10)
2016-2017 Master semestre 1 (139, 10)
2016-2017 Master semestre 2 (2, 10)
2016-2017 Master semestre 3 (117, 10)
2016-2017 Projet Master automne (57, 10)
2016-2017 Projet Master printemps (0, 10)

In [79]:
sem_1 = 'Bachelor semestre 1'
sem_5 = 'Bachelor semestre 5'
sem_6 = 'Bachelor semestre 6'
bachelor_sem1 = pd.DataFrame()
bachelor_sem5 = pd.DataFrame()
bachelor_sem6 = pd.DataFrame()
for y in years:
    
    with_years = bachelor_datasets[y][sem_1].copy()
    with_years['Years'] = pd.Series([y]*with_years.shape[0], index=with_years.index)
    bachelor_sem1=bachelor_sem1.append(with_years)
    
    with_years = bachelor_datasets[y][sem_5].copy()
    with_years['Years'] = pd.Series([y]*with_years.shape[0], index=with_years.index)
    bachelor_sem5=bachelor_sem5.append(with_years)
                             
    with_years = bachelor_datasets[y][sem_6].copy()
    with_years['Years'] = pd.Series([y]*with_years.shape[0], index=with_years.index)
    bachelor_sem6=bachelor_sem6.append(with_years) 
                             
graduated_students = pd.DataFrame()
for index, row in bachelor_sem1.iterrows():
    #print(bachelor_sem5['No Sciper'])
    if bachelor_sem5['No Sciper'].isin([row['No Sciper']]).values.any() & bachelor_sem6['No Sciper'].isin([row['No Sciper']]).values.any():
        graduated_students=graduated_students.append(row)
print (graduated_students.head())

                       Civilité  Ecole Echange  Filière opt.  Mineur  \
Arévalo Christian      Monsieur            NaN           NaN     NaN
Aubelle Flavien        Monsieur            NaN           NaN     NaN
Baeriswyl Jonathan     Monsieur            NaN           NaN     NaN
Barroco Michael        Monsieur            NaN           NaN     NaN
Bindschaedler Vincent  Monsieur            NaN           NaN     NaN

                       No Sciper  Orientation Bachelor  Orientation Master  \
Arévalo Christian       169569.0                   NaN                 NaN
Aubelle Flavien         174905.0                   NaN                 NaN
Baeriswyl Jonathan      179406.0                   NaN                 NaN
Barroco Michael         179428.0                   NaN                 NaN
Bindschaedler Vincent   179449.0                   NaN                 NaN

                       Spécialisation   Statut  Type Echange      Years
Arévalo Christian                 NaN  Présent           NaN  2007-2008
Aubelle Flavien                   NaN  Présent           NaN  2007-2008
Baeriswyl Jonathan                NaN  Présent           NaN  2007-2008
Barroco Michael                   NaN  Présent           NaN  2007-2008
Bindschaedler Vincent             NaN  Présent           NaN  2007-2008

In [170]:
graduated_students.drop_duplicates('No Sciper')
i=0
months = [0]*len(graduated_students)
for sciper in graduated_students['No Sciper']:
    years_6sem = np.where(bachelor_sem6['No Sciper'] == sciper)
    years_5sem = np.where(bachelor_sem5['No Sciper'] == sciper)
    finish_year_6 = bachelor_sem6['Years'].ix[years_6sem[0][len(years_6sem[0])-1]]
    finish_year_5 = bachelor_sem5['Years'].ix[years_5sem[0][len(years_5sem[0])-1]]
    
    if (finish_year_5>finish_year_6): months[i] +=6
    years_1sem = np.where(graduated_students['No Sciper'] == sciper)
    beginning_year = graduated_students['Years'].ix[years_1sem[0][0]]
    months[i] +=12*(int(finish_year_6[0:4]) - int (beginning_year[0:4])+1)
    i+=1
print(months)

[36, 60, 48, 48, 36, 36, 48, 36, 36, 36, 48, 48, 42, 36, 48, 36, 36, 48, 36, 48, 42, 36, 72, 48, 36, 36, 48, 36, 36, 36, 36, 36, 36, 36, 36, 54, 42, 36, 48, 36, 36, 36, 66, 36, 60, 42, 36, 60, 36, 36, 48, 48, 72, 54, 48, 36, 36, 48, 36, 48, 42, 72, 60, 36, 36, 60, 36, 48, 36, 48, 36, 36, 36, 36, 48, 54, 36, 36, 36, 36, 36, 42, 36, 36, 36, 36, 48, 36, 36, 36, 36, 36, 66, 48, 60, 54, 36, 60, 36, 60, 36, 36, 60, 72, 54, 48, 66, 36, 54, 54, 72, 72, 36, 48, 72, 60, 36, 72, 36, 36, 60, 60, 36, 84, 42, 48, 48, 60, 42, 54, 66, 36, 36, 36, 36, 36, 60, 60, 48, 36, 72, 36, 48, 36, 36, 36, 36, 48, 54, 36, 48, 48, 54, 60, 36, 42, 36, 36, 36, 36, 54, 48, 48, 60, 36, 60, 54, 42, 66, 36, 42, 54, 36, 36, 54, 72, 72, 48, 36, 48, 60, 72, 60, 42, 36, 36, 54, 48, 36, 36, 36, 48, 84, 36, 42, 36, 36, 36, 36, 60, 60, 48, 66, 48, 42, 36, 60, 66, 48, 36, 72, 66, 48, 48, 60, 54, 48, 36, 36, 48, 36, 60, 42, 36, 60, 36, 48, 36, 36, 42, 42, 36, 60, 36, 54, 36, 36, 60, 66, 66, 36, 36, 54, 60, 36, 36, 54, 66, 36, 36, 48, 48, 36, 60, 48, 54, 36, 60, 54, 66, 36, 48, 42, 36, 60, 66, 36, 36, 42, 36, 36, 42, 60, 42, 48, 54, 36, 48, 48, 48, 36, 36, 66, 66, 54, 48, 48, 60, 42, 54, 54, 36, 36, 36, 36, 48, 48, 36, 48, 42, 42, 60, 48, 36, 36, 54, 36, 54, 60, 54, 36, 54, 48, 36, 54, 54, 36, 48, 48, 36, 66, 66, 36, 60, 36, 42, 36, 54, 66, 48, 36, 48, 48, 48, 36, 54, 36, 36, 48, 42, 54, 36, 36, 48, 36, 48, 66, 48, 36, 48, 36, 36, 36, 60, 36, 48, 48, 36, 36, 66, 60, 54, 48, 48, 42, 36, 36, 36, 48, 48, 48, 36, 48, 48, 36, 36, 48, 36, 36, 36, 36, 48, 66, 48, 54, 36, 54, 36, 42, 36, 48, 48, 36, 42, 36, 36, 36, 36, 36, 42, 54, 36, 36, 36, 36, 36, 42, 36, 36, 54, 54, 36, 42, 36, 36, 36, 36, 36, 36, 42, 36, 48, 48, 36, 36, 36, 36, 36, 36, 36, 42, 36, 42, 36, 36, 36, 48, 36, 36, 48, 42, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 54, 36, 36, 36, 36, 36, 36, 36, 60, 36, 36, 36, 36]